div.uploadGrid {
    display: grid;
}

div.uploadModalBigGoose {
    min-width: 80vw;
    min-height: 60vh;
}

input[type="file"].fileUploadInput {
    
}

label.fileUploadLabel {
    pointer-events: all;
    cursor: pointer;
}