div.uploadGrid {
    display: grid;
}

div.uploadModalBigGoose {
    min-width: 80vw;
    min-height: 60vh;
}

div.uploadModalBigGoose>div:nth-child(2) {
    display: flex;
}

div.FileUpload {
    display: grid;
    grid-template-rows: min-content 1fr;
    flex-grow: 1;
    row-gap: 12px;
}

input[type="file"].fileUploadInput {
    /*hide it without removing its tab ability*/
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

div.fileDragInfo, label.fileUploadLabel, div.fileText {
    font-family: var(--font-primary);
    font-size: 100%;
    padding: 12px;
    font-weight: 500;
    color: var(--text-normal);
}

label.fileUploadLabel {
    pointer-events: all;
    cursor: pointer;
    background-color: hsl(218, 8%, 26%);
    border: 3px solid hsl(218, 8%, 26%);
    text-align: center;
    transition: background-color .25s cubic-bezier(.44, .1, .24, 1.04), border-color .3s cubic-bezier(.41, .05, .74, .98);
}

label.fileUploadLabel:hover {
    background-color: hsl(218, 8%, 28%);
}

div.fileDragZone {
    background-color: hsl(218, 8%, 26%);
    transition: background-color .25s cubic-bezier(.71, .21, .36, .71);
    display: grid;
    gap: 12px;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(175px, 1fr));
}

div.fileDragInfo {
    font-size: 150%;
    margin: auto;
    grid-column: 1/-1;
}

div.fileDragZone[dragging="1"] {
    background-color: hsl(218, 8%, 28%);
}

@keyframes upload {
    0% {
        background-color: hsl(218, 8%, 28%);
    }
    25% {
        background-color: hsl(212, 56%, 42%);
    }
    100% {
        background-color: hsl(218, 8%, 26%);
    }
}

div.fileDragZone[fileDrop="1"] {
    animation: upload 1s cubic-bezier(.52, .14, .5, 1.03);
}

input[type="file"].fileUploadInput:focus+label.fileUploadLabel {
    border-color: var(--focus-primary);
}

div.File, label.fileUploadLabel, div.fileDragZone {
    border-radius: 3px;
}

div.File {
    background-color: hsl(218, 8%, 30%);
    margin: 12px;
    padding: 12px;
    display: grid;
    grid-template-columns: 80px 3fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 8px;
}

div.fileText {
    padding: 3px 6px;
    margin-top: auto;
    margin-bottom: auto;
}

div.fileText.wide {
    grid-column: 1 / 3;
}

div.fileIcon {
    background-image: url(https://discord.com/assets/66084381f55f4238d69e5cbe3b8dc42e.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    color: var(--header-primary);
    grid-row: 1 / 4;
}