div.uploadGrid {
    display: grid;
}

div.uploadModalBigGoose {
    min-width: 80vw;
    min-height: 60vh;
}

div.uploadModalBigGoose>div:nth-child(2) {
    display: flex;
}

div.FileUpload {
    display: grid;
    flex-grow: 1;
}

input[type="file"].fileUploadInput {
    /*hide it without removing its tab ability*/
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label.fileUploadLabel {
    pointer-events: all;
    cursor: pointer;
    font-family: var(--font-primary);
    font-size: 200%;
    padding: 12px;
    padding-top: 36px;
    font-weight: 500;
    color: var(--text-normal);
    background-color: hsl(218, 8%, 26%);
    border: 3px solid hsl(218, 8%, 26%);
    text-align: center;
    transition: background-color .25s cubic-bezier(.44, .1, .24, 1.04), border-color .3s cubic-bezier(.41, .05, .74, .98);
}

label.fileUploadLabel:hover {
    background-color: hsl(218, 8%, 28%);
}

input[type="file"].fileUploadInput:focus+label.fileUploadLabel {
    border-color: var(--focus-primary);
}